.footer {
  background-color: $color-bg-grey;
  padding: 29px 3.5% 70px;
  text-align: center;
  color: $color-white;
  font-size: 15px;
  line-height: 30px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    padding: 29px 5% 70px 6%;
  }

  @include laptop {
    padding: 29px 4.5% 70px 4.5%;
    letter-spacing: -0.2px;
  }

  @include desktop {
    padding: 29px 14% 70px 14%;
    letter-spacing: -0.2px;
  }

  p {
    margin: 0;
  }
}
