.header {
  padding: 27px 3.9% 15px;
  display: flex;

  @include tablet {
    padding: 27px 4.9% 27px;
  }

  @include desktop {
    padding: 27px 13.9% 27px 13.5%;
  }

  .header__logo {
    margin-right: auto;
  }
}

.header__link {
  margin-left: 51px;
  padding-top: 3px;

  &--phone {
    font-size: 0;

    @include tablet {
      font-size: 20px;

      svg {
        display: none;
      }
    }

    @include laptop {
      letter-spacing: -0.5px;
    }
  }

  svg {
    width: 20px;
    height: 24px;
  }
}
