.media {
  padding-top: 17px;
  padding-bottom: 50px;

  @include tablet {
    padding-top: 4px;
  }

  @include desktop {
    padding: 12px 150px 50px;
  }

  h2 {
    font-size: 31px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 0;
  }

  .swiper-container {
    @include tablet {
      padding-left: 18px;
    }
  }

  .swiper-wrapper {
    display: flex;
  }

  .swiper-slide {
    width: 305px;
    padding-top: 26px;

    p {
      background: #ffffff;
      border: 0.5px solid #f5f5f5;
      box-sizing: border-box;
      box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
      border-radius: 16px;
      padding: 15px 16px;
      position: relative;
      z-index: 2;
      background-color: $color-white;
      min-height: 176px;
      font-size: 16px;
      line-height: 24px;
      margin-left: 15px;
      text-overflow: ellipsis;
      min-height: 195px;
      max-height: 195px;

      &::before {
        content: "";
        position: absolute;
        background-image: url("./../img/speech.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
        width: 20px;
        height: 30px;
        bottom: -17px;
      }

      @include laptop {
        padding-top: 12px;
      }
    }

    a {
      display: inline-block;
      width: 30px;
      position: relative;

      svg {
        position: absolute;
        right: 0;
        margin: 0;
        bottom: 0;
        cursor: pointer;
        transform: opacity 0.5s;
        opacity: 1;

        &:hover {
          opacity: 0.6;
        }
      }
    }

    img,
    svg {
      margin-left: 15px;
      margin-top: 10px;
    }
  }
}

.media__slider-arrow {
  display: none;

  @include desktop {
    display: block;
    width: 24px;
    height: 24px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    opacity: 0.55;
    background-image: none;
    outline: none;
    top: 95px;
    z-index: 1000;

    &--next {
      transform: rotate(45deg);
      right: -20px;
    }

    &--prev {
      transform: rotate(225deg);
      left: -20px;
    }
  }
}
