.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: $color-white;
  z-index: 100000;
  text-align: center;
  opacity: 0;
  transition: all 0.9s ease-in-out;
  transform: scale(0.8);
  pointer-events: none;

  @include desktop {
    background-color: transparent;
  }

  &--show {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transform: scale(1);
    pointer-events: unset;

    .popup-container {
      opacity: 1;
    }
  }

  @include desktop {
    // &::before {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   background-color: transparent;
    //   z-index: 100000;
    //   top: 0;
    //   left: 0;
    //   transition: background-color 0.5s;
    // }
    // &--show {
    //   &::before {
    //     background-color: rgba(21, 26, 52, 0.8);
    //   }
    // }
  }

  .popup-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1000000;

    @include desktop {
      width: 928px;
      align-self: center;
      margin: auto;
      background-color: $color-white;
      height: auto;
      border-radius: 8px;
      padding-top: 40px;
    }
  }

  .swiper-slide {
    width: 100%;
    padding: 0 17px;
    cursor: auto;

    img {
      @include tablet {
        width: 93% !important;
      }
      @include laptop {
        max-height: 68vh;
        width: auto !important;
      }

      @include desktop {
        max-height: 500px;
        width: auto !important;
      }
    }

    h3 {
      @include desktop {
        margin-top: 0px;
      }
    }
    p {
      @include desktop {
        margin-bottom: 28px;
      }
    }
  }

  .projects__slider-arrow {
    &::before {
      width: 35px;
      height: 35px;
    }
    &--next {
      right: -52px;
      top: 46%;

      &::before {
        right: 10px;
        top: 10px;
      }
    }

    &--prev {
      left: -52px;
      top: 47%;

      &::before {
        right: 10px;
        top: 10px;
      }
    }
  }

  .swiper-pagination {
    bottom: 5%;
    width: 100%;

    @include desktop {
      display: none;
    }
  }

  .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    margin: 9px;
    outline: none;
  }

  .swiper-pagination-bullet-active {
    background: #151a34;
  }
}

.popup__close {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 20px;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #151a34;
    opacity: 0.4;
    transform: rotate(45deg);
    top: 25px;
    left: 11px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #151a34;
    opacity: 0.4;
    transform: rotate(-45deg);
    top: 25px;
    left: 11px;
  }

  @include desktop {
    z-index: 10000;
  }
}

.projects__slider--popup {
  margin: auto 0;
}
