.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: $color-white;
  z-index: 100;
  text-align: center;
  display: none;

  &--show {
    display: flex;
    flex-direction: column;
  }

  @include desktop {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100000;
  }

  .popup-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    @include desktop {
      width: 928px;
      align-self: center;
      margin: auto;
      background-color: $color-white;
      height: auto;
      border-radius: 8px;
      padding-top: 40px;
    }
  }

  .swiper-slide {
    width: 100%;
    padding: 0 17px;

    img {
      @include tablet {
        width: 93% !important;
      }
      @include laptop {
        max-height: 68vh;
        width: auto !important;
      }

      @include desktop {
        max-height: 500px;
        width: auto !important;
      }
    }

    h3 {
      @include desktop {
        margin-top: 0px;
      }
    }
    p {
      @include desktop {
        margin-bottom: 28px;
      }
    }
  }

  .projects__slider-arrow {
    &::before {
      width: 35px;
      height: 35px;
    }
    &--next {
      right: -32px;
      top: 43%;
    }

    &--prev {
      left: -32px;
      top: 47%;
    }
  }

  .swiper-pagination {
    bottom: 5%;
    width: 100%;

    @include desktop {
      display: none;
    }
  }

  .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    margin: 9px;
    outline: none;
  }

  .swiper-pagination-bullet-active {
    background: #151a34;
  }
}

.popup__close {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 20px;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #151a34;
    opacity: 0.4;
    transform: rotate(45deg);
    top: 25px;
    left: 11px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #151a34;
    opacity: 0.4;
    transform: rotate(-45deg);
    top: 25px;
    left: 11px;
  }
}

.projects__slider--popup {
  margin: auto 0;
}
