.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: $color-white;
  z-index: 100;
  text-align: center;
  display: none;

  &--show {
    display: block;
  }

  .swiper-slide {
    width: 100%;
    padding: 0 17px;
  }

  .swiper-pagination {
    bottom: 32px;
    width: 100%;
  }

  .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    margin: 9px;
    outline: none;
  }

  .swiper-pagination-bullet-active {
    background: #151a34;
  }
}

.popup__close {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 30px;
  top: 30px;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #151a34;
    opacity: 0.4;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #151a34;
    opacity: 0.4;
    transform: rotate(-45deg);
  }
}

.projects__slider--popup {
  margin-top: 50%;
}
