.projects {
  background-color: $color-bg-blue-bright;
  padding-top: 41px;
  padding-bottom: 57px;
  color: $color-white;
  text-align: center;

  h2 {
    font-size: 25px;
    line-height: 32px;
    letter-spacing: -0.8px;
  }
}

.projects__slider {
  margin-top: 43px;
  .swiper-slide {
    width: 300px;
    padding-left: 17px;

    h3 {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.8px;
      margin-bottom: 10px;
    }

    p {
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 0.3px;
      margin-top: 13px;
    }

    img {
      width: 100%;
    }
  }
}
