.projects {
  background-color: $color-bg-blue-bright;
  padding-top: 50px;
  padding-bottom: 109px;
  color: $color-white;
  text-align: center;
  // padding: 41px 20px 57px;

  @include tablet {
    padding-bottom: 70px;
  }

  @include laptop {
    padding-bottom: 57px;
  }

  @include desktop {
    padding: 41px 174px 63px;
  }

  h2 {
    font-size: 25px;
    line-height: 32px;
    // letter-spacing: -0.8px;

    @include desktop {
      font-size: 31px;
      line-height: 37px;
    }
  }

  .project__photo {
    @include laptop {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        background-image: url("./../img/zoom.svg");
        background-position: center;
        background-size: 36px 24px;
        background-repeat: no-repeat;
        z-index: 1000;
        width: 36px;
        height: 24px;
        left: 50%;
        margin-left: -18px;
        top: 50%;
        margin-top: -12px;
        opacity: 0;
        transition: opacity 0.3s;
      }
    }
  }
}

.projects__slider {
  margin-top: 43px;
  position: relative;

  &--popup {
    padding-top: 25px;

    @include laptop {
      padding-top: 0;
    }

    h3 {
      margin-top: 13px;
    }

    p {
      margin-top: 7px;
    }
  }

  .swiper-slide {
    width: 300px;
    padding-left: 17px;
    cursor: pointer;

    @include laptop {
      padding-right: 17px;
    }

    @include desktop {
      width: 33%;
      padding-left: 0;
    }

    &:hover {
      .project__photo {
        &::before {
          opacity: 1;
        }
      }
    }

    h3 {
      font-size: 20px;
      line-height: 24px;
      // letter-spacing: -0.8px;
      margin-bottom: 10px;

      @include desktop {
        margin-top: 26px;
      }
    }

    p {
      font-size: 15px;
      line-height: 24px;
      // letter-spacing: 0.3px;
      margin-top: 13px;
    }

    img {
      width: 100%;
    }
  }

  .swiper-pagination {
    width: 100%;
    margin-top: 14px;

    .swiper-pagination-bullet {
      background: #151a34;
      opacity: 0.4;
      backdrop-filter: blur(54.3656px);
      margin: 4px;
      width: 7px;
      height: 7px;
      outline: none;

      &.swiper-pagination-bullet-active {
        opacity: 1;
        background: $color-white;
      }
    }

    @include desktop {
      display: none;
    }
  }
}

.projects__slider-arrow {
  display: none;

  @include desktop {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: none;
    outline: none;
    top: 95px;
    z-index: 1000;

    &::before {
      position: absolute;
      content: "";
      width: 25px;
      height: 25px;
      border-top: 2px solid #ffffff;
      border-right: 2px solid #ffffff;
      opacity: 0.55;
      top: 0;
    }

    &--next {
      transform: rotate(45deg);
      right: -42px;
    }

    &--prev {
      transform: rotate(225deg);
      left: -42px;
    }
  }
}
