.projects {
  background-color: $color-bg-blue-bright;
  padding-top: 41px;
  padding-bottom: 57px;
  color: $color-white;
  text-align: center;

  @include desktop {
    padding: 41px 174px 63px;
  }

  h2 {
    font-size: 25px;
    line-height: 32px;
    letter-spacing: -0.8px;

    @include desktop {
      font-size: 31px;
      line-height: 37px;
    }
  }
}

.projects__slider {
  margin-top: 43px;
  .swiper-slide {
    width: 300px;
    padding-left: 17px;

    @include desktop {
      width: 33%;
      padding-left: 0;
    }

    h3 {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.8px;
      margin-bottom: 10px;

      @include desktop {
        margin-top: 15px;
      }
    }

    p {
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 0.3px;
      margin-top: 13px;
    }

    img {
      width: 100%;
    }
  }
}

.projects__slider-arrow {
  display: none;

  @include desktop {
    display: block;
    width: 24px;
    height: 24px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    opacity: 0.55;
    background-image: none;
    outline: none;
    top: 95px;
    z-index: 1000;

    &--next {
      transform: rotate(45deg);
      right: -20px;
    }

    &--prev {
      transform: rotate(225deg);
      left: -20px;
    }
  }
}
