.service {
  background-color: $color-bg-blue;
  display: flex;
  flex-direction: column;
  padding: 29px 0;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 88px;
  }

  svg {
    width: 93.5%;
    height: auto;
    margin: 0 auto 3px;

    @include tablet {
      width: 45%;
      align-self: flex-start;
      margin-left: 10px;
      margin-top: 50px;
      order: 2;
      margin-top: 15px;
    }
  }
}

.service__header {
  font-size: 25px;
  line-height: 32px;
}

.service__text {
  font-size: 16px;
  line-height: 24px;
}

.service__text-block {
  margin: 24px 4%;

  @include tablet {
    width: 44%;
    order: 1;
    margin-left: 40px;
    margin-top: 14px;
    margin-right: 6px;
    margin-bottom: 41px;
  }

  h2 {
    font-size: 25px;
    line-height: 32px;
    letter-spacing: -0.8px;
    margin-bottom: 25px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
    margin-top: 18px;
  }
}

.service__slider {
  margin-top: 4px;

  @include tablet {
    width: 100%;
    order: 3;
    padding-top: 38px;
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
    margin-top: 12px;
    margin-bottom: 9px;

    @include tablet {
      margin-top: 28px;
    }
  }

  p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 9px;
  }

  .service__pic {
    height: 42px;
  }

  svg {
    width: 40px;
    height: auto;

    @include tablet {
      margin-left: 0;
    }
  }

  .swiper-slide {
    width: 325px;
    padding-left: 17px;

    @include tablet {
      width: 245px;
      padding-left: 40px;
    }
  }

  .swiper-slide:first-child {
    svg {
      width: 27px;
      height: 40px;
    }
  }
}

.service__pic {
  height: 40px;

  &--tick {
    svg {
      width: 27px;
      height: 40px;
    }
  }

  &--tag {
    svg {
      width: 46px;
      height: 41px;
    }
  }

  &--list {
    svg {
      width: 40px;
      height: 32px;
    }
  }

  &--graphic {
    svg {
      width: 40px;
      height: 40px;
    }
  }
}
