.vacancies {
  padding-top: 43px;
  display: flex;
  flex-direction: column;

  @include desktop {
    padding-top: 51px;
  }

  h2 {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.2px;

    @include tablet {
      margin-bottom: 25px;
    }

    @include laptop {
      margin-bottom: 16px;
    }

    @include desktop {
      font-size: 31px;
      line-height: 37px;
    }
  }
}

.vacancies__accordion {
  display: flex;
  flex-direction: column;

  h3 {
    margin-top: 30px;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: -0.4px;

    // position: relative;
    // z-index: 1000;

    // &:before {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   height: 50px;
    //   background-color: $color-white;
    //   bottom: 0;
    //   left: 0;
    //   z-index: 100;
    // }

    @include tablet {
      display: flex !important;
      flex-direction: column;
      margin: 22px 5% 0 !important;
      padding-top: 21px !important;
      padding-bottom: 27px !important;
    }

    @include laptop {
      flex-direction: row;
      margin: 27px 5% 0 !important;
      padding-top: 27px !important;
      padding-bottom: 26px !important;
    }

    @include desktop {
      margin: 27px 14% 0 !important;
      padding-top: 31px !important;
      padding-bottom: 22px !important;
      padding-left: 3% !important;
      padding-right: 15% !important;
    }

    span {
      font-weight: normal;
      display: inline-block;
      font-size: 16px;
      line-height: 24px;
      opacity: 0.4;
      letter-spacing: -0.3px;

      @include laptop {
        margin-left: auto;
      }
    }
  }

  p {
    font-size: 16px;
    line-height: 24px;
    z-index: 1000;
  }

  h4 {
    font-size: 20px;
    line-height: 24px;
  }

  ul {
    padding-left: 17px;
  }

  li {
    font-size: 16px;
    line-height: 24px;
  }

  .ui-icon {
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1.5px solid #000000;
    border-right: 1.5px solid #000000;
    opacity: 0.4;
    background-image: none;
    outline: none;
    z-index: 1000;
    transform: rotate(45deg);
    transition: transform 0.5s;
    right: 22px;
    top: 40px;

    &.ui-icon-triangle-1-s {
      transform: rotate(135deg);
    }
  }

  div {
    border: 0.5px solid #f5f5f5;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
    outline: none;
    width: auto;
    margin: 0 3%;
    // position: relative;

    // &:before {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   height: 50px;
    //   background-color: $color-white;
    //   top: 0;
    //   left: 0;
    //   z-index: 100;
    // }

    @include tablet {
      margin: 0 5%;
    }

    @include desktop {
      margin: 0 14%;
      padding-top: 4px !important;
      padding-left: 35px !important;
      padding-right: 129px !important;
      letter-spacing: -0.1px;
    }

    p {
      z-index: 20;
    }

    h4 {
      margin-top: 37px;
      margin-bottom: 20px;

      @include desktop {
        margin-bottom: 20px;
      }
    }

    ul {
      @include list-reset;
      padding-left: 12px;
      padding-right: 21px;

      @include desktop {
        margin-bottom: 19px;
        margin-top: 16px;
      }
    }

    li {
      margin-bottom: 12px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: $color-black;
        top: 11px;
        left: -12px;
      }

      @include desktop {
        margin-bottom: 8px;
      }
    }

    .button {
      width: 100%;
      margin-bottom: 10px;
      @include desktop {
        margin-top: 25px;
        padding: 16px 29px;
      }
    }
  }
}

.vacancies__button {
  width: 92%;
  margin: 25px 4% 25px;

  @include tablet {
    width: 50%;
    margin: 45px auto;
  }

  @include laptop {
    width: 37.5%;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  @include desktop {
    width: 19%;
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 16px 20px !important;
  }
}
