.vacancies {
  padding-top: 43px;
  display: flex;
  flex-direction: column;

  @include desktop {
    padding-top: 51px;
  }

  h2 {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.2px;

    @include tablet {
      margin-bottom: 25px;
    }

    @include laptop {
      margin-bottom: 16px;
    }

    @include desktop {
      font-size: 31px;
      line-height: 37px;
    }
  }
}

.vacancies__accordion {
  display: flex;
  flex-direction: column;

  h3 {
    margin-top: 30px;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: -0.4px;

    @include tablet {
      display: flex !important;
      flex-direction: column;
      margin: 22px 5% 0 !important;
      padding-top: 21px !important;
      padding-bottom: 27px !important;
    }

    @include laptop {
      flex-direction: row;
      margin: 27px 5% 0 !important;
      padding-top: 27px !important;
      padding-bottom: 26px !important;
    }

    @include desktop {
      margin: 27px 14% 0 !important;
      padding-top: 31px !important;
      padding-bottom: 22px !important;
      padding-left: 3% !important;
      padding-right: 15% !important;
    }

    span {
      font-weight: normal;
      display: inline-block;
      font-size: 16px;
      line-height: 24px;
      opacity: 0.4;
      letter-spacing: -0.3px;

      @include laptop {
        margin-left: auto;
      }
    }
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }

  h4 {
    font-size: 20px;
    line-height: 24px;
  }

  ul {
    padding-left: 17px;
  }

  li {
    font-size: 16px;
    line-height: 24px;
  }

  .ui-icon {
    // background-image: url("../img/arrow.svg");
    // position: absolute;
    // width: 20px;
    // height: 20px;
  }

  div {
    border: 0.5px solid #f5f5f5;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
    outline: none;
    width: auto;
    margin: 0 3%;
    // transform: translateY(-3px);

    @include tablet {
      margin: 0 5%;
    }

    @include desktop {
      margin: 0 14%;
      padding-top: 4px !important;
      padding-left: 35px !important;
      padding-right: 129px !important;
      letter-spacing: -0.1px;
    }

    h4 {
      @include desktop {
        margin-bottom: 20px;
      }
    }

    ul {
      @include desktop {
        margin-bottom: 19px;
        margin-top: 16px;
      }
    }

    li {
      @include desktop {
        margin-bottom: 8px;
      }
    }

    .button {
      @include desktop {
        margin-top: 25px;
        padding: 16px 29px;
      }
    }
  }
}

.vacancies__button {
  width: 92%;
  margin: 25px 4% 25px;

  @include tablet {
    width: 50%;
    margin: 45px auto;
  }

  @include laptop {
    width: 37.5%;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  @include desktop {
    width: 19%;
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 16px 20px !important;
  }
}
