include pug/mixins

block variables
- let mainTitle = "Finolab";

doctype html
html( lang="ru" )
  head
    meta( charset="UTF-8" )
    title #{mainTitle} !{title && "| " + title}
    meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    link( rel="preload" href="fonts/ApercuProBold.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="preload" href="fonts/ApercuProRegular.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="stylesheet" href="css/style.min.css" )
    script( src="https://api-maps.yandex.ru/2.1/?apikey=58263f1b-71c0-4f82-aad7-91a563964fa9&lang=ru_RU" type="text/javascript" )

  body
    header.header( id="links" )
      a.header__logo(href="#" ): +svg( "logo", 144, 24 )
      +link-text( "Вакансии", "vacancies.html", "header__link" )
      a.header__link.header__link--phone(href="#form") Связаться с нами
        +svg( "phone1", 24, 27 )

    main
      .container
        h1.visually-hidden #{mainTitle}

        section.intro
          +svg-intro
          .intro__block
            h2.intro__header Современные комплексные решения в сфере финансовых технологий
            p.intro__text Наш бизнес — проектирование, разработка, внедрение и сопровождение информационных систем для финансово технологических компаний.

        section.team
          +svg( "team", 444, 418 )
          .team__text-block
            h2.team__header Финолаб.ру — команда профессионалов
            p.team__text Специалисты нашей компании имеют многолетний успешный опыт работы в российских и зарубежных банках, а также в других компаниях в сфере финансовых технологий. Наши разработки, решения и технологии успешно применяются компаниями лидерами FinTech рынка не только в России, но и за рубежом.
            p.team__text Специалисты Финолаб.ру проводят анализ бизнес&#8209;процессов заказчика, разрабатывают оптимальное решение, исходя из потребностей и возможностей заказчика, а в дальнейшем обеспечивают поддержку и сопровождение внедренного решения.
            p.team__text Стань лучшим в своем деле! Присоединяйся к команде Финолаб.ру

        section.service
          +svg( "service", 451, 318 )
          .service__text-block
            h2.service__header Наши услуги и решения
            p.service__text Финансовые компании — один из наиболее динамично развивающихся сегментов российского рынка. Рост отрасли сопровождается ужесточением конкуренции, а для успеха в этой борьбе необходимо быстро реагировать не только на рыночные изменения, но и использовать в работе современные технологии. Компания ФИНОЛАБ.РУ предлагает услуги для финансовых компаний по следующим направлениям:
          .service__slider
            .swiper-container
              .swiper-wrapper
                .swiper-slide
                  .service__pic.service__pic--tick
                    +svg( "tick", 27, 40 )
                  h3 Аудит IT-инфраструктуры и IT-систем
                  p Проведение комплексной оценки актуального состояния информационных систем организации
                .swiper-slide
                  .service__pic.service__pic--tag
                    +svg( "tag", 46, 41 )
                  h3 Проектирование, разработка, внедрение, тестирование
                  p Мы предлагаем полный цикл разработки и изменений в информационной системе с целью эффективного решения бизнес-задач заказчика
                .swiper-slide
                  .service__pic.service__pic--list
                    +svg-list
                  h3 Внедрение технологий оценки рисков
                  p Комплексная разработка методологии управления кредитными рисками, не толко на основе передовых информационных решений, но и с учетом специфики, свойственной именно компании заказчика
                .swiper-slide
                  .service__pic.service__pic--graphic
                    +svg-graphic
                  h3 Построение индивидуальных скор– моделей и скоринговых карт для новых и действующих компаний финансового сектора
                  p Наши специалисты помогут создать и/или повысить эффективность скор-модели для достижения желаемых бизнес-показателей финансовой организации


        section.projects
          h2.projects__header Реализованные проекты
          .projects__slider
            .swiper-container
              .swiper-wrapper
                .swiper-slide.swiper-slide--project( data-slide-id=1 )
                  .project__photo
                    img( src="img/archive@2x.png" )
                  h3 Электронный архив
                  p Автоматизация управления документооборотом
                .swiper-slide.swiper-slide--project( data-slide-id=2 )
                  .project__photo
                    img( src="img/note3@2x.png" )
                  h3 Единый фронт-офис
                  p Организация продуктов финансовой компании
                .swiper-slide.swiper-slide--project( data-slide-id=3 )
                  .project__photo
                    img( src="img/note2@2x.png" )
                  h3 Finolab Collectors
                  p Управление просроченной задолженностью

            .swiper-button-prev.projects__slider-arrow.projects__slider-arrow--prev
            .swiper-button-next.projects__slider-arrow.projects__slider-arrow--next
        section.vacancies
          h2 Вакансии
          div.vacancies__accordion( id="accordion")
            h3 Frontend-разработчик (senior)
              span.vacancies__ Москва · от 180 000 руб
            div
              p Специалисты нашей компании имеют многолетний успешный опыт работы в российских и зарубежных банках, а также в других компаниях в сфере финансовых технологий. Наши разработки, решения и технологии успешно применяются компаниями лидерами FinTech рынка не только в России, но и за рубежом.
              p  Стань лучшим в своем деле! Присоединяйся к команде Финолаб.ру

              h4 Требования
              ul
                li Опыт работы во frontend-разработке от 4 лет;
                li Уверенные знания JavaScript, в том числе новых стандартов ES 2015-2018;
                li Опыт работы с современными фреймворками: React, Angular, Vue и т.п.;
                li Знание HTML5, CSS3, понимание принципов адаптивной верстки и проблем разных браузеров;
                li Верстка с использованием PostCSS, WebPack, BEM и пр.;
                li Знание ООП, паттернов проектирования;
                li Опыт работы с REST API;
                li Умение работать с GIT.

              h4 Обязанности
              ul
                li Программирование и проектирование веб-приложений (только фронтенд).
                li Оптимизация веб-приложений.
                li Участие в командном код-ревью.
                li Багфикс.
                li Работа с командой, участие в формировании команды.
                li Наставничество и помощь в обучении новых сотрудников.
                li Участие в принятии ключевых решений по продукту.
              button.button Откликнуться


            h3 Системный/бизнес аналитик
              span Москва · от 180 000 руб
            div
              p Специалисты нашей компании имеют многолетний успешный опыт работы в российских и зарубежных банках, а также в других компаниях в сфере финансовых технологий. Наши разработки, решения и технологии успешно применяются компаниями лидерами FinTech рынка не только в России, но и за рубежом.
              p  Стань лучшим в своем деле! Присоединяйся к команде Финолаб.ру

              h4 Требования
              ul
                li Опыт работы во frontend-разработке от 4 лет;
                li Уверенные знания JavaScript, в том числе новых стандартов ES 2015-2018;
                li Опыт работы с современными фреймворками: React, Angular, Vue и т.п.;
                li Знание HTML5, CSS3, понимание принципов адаптивной верстки и проблем разных браузеров;
                li Верстка с использованием PostCSS, WebPack, BEM и пр.;
                li Знание ООП, паттернов проектирования;
                li Опыт работы с REST API;
                li Умение работать с GIT.

              h4 Обязанности
              ul
                li Программирование и проектирование веб-приложений (только фронтенд).
                li Оптимизация веб-приложений.
                li Участие в командном код-ревью.
                li Багфикс.
                li Работа с командой, участие в формировании команды.
                li Наставничество и помощь в обучении новых сотрудников.
                li Участие в принятии ключевых решений по продукту.
              button.button Откликнуться

            h3 Специалист по тестированию ПО
              span Москва · от 180 000 руб
            div
              p Специалисты нашей компании имеют многолетний успешный опыт работы в российских и зарубежных банках, а также в других компаниях в сфере финансовых технологий. Наши разработки, решения и технологии успешно применяются компаниями лидерами FinTech рынка не только в России, но и за рубежом.
              p  Стань лучшим в своем деле! Присоединяйся к команде Финолаб.ру

              h4 Требования
              ul
                li Опыт работы во frontend-разработке от 4 лет;
                li Уверенные знания JavaScript, в том числе новых стандартов ES 2015-2018;
                li Опыт работы с современными фреймворками: React, Angular, Vue и т.п.;
                li Знание HTML5, CSS3, понимание принципов адаптивной верстки и проблем разных браузеров;
                li Верстка с использованием PostCSS, WebPack, BEM и пр.;
                li Знание ООП, паттернов проектирования;
                li Опыт работы с REST API;
                li Умение работать с GIT.

              h4 Обязанности
              ul
                li Программирование и проектирование веб-приложений (только фронтенд).
                li Оптимизация веб-приложений.
                li Участие в командном код-ревью.
                li Багфикс.
                li Работа с командой, участие в формировании команды.
                li Наставничество и помощь в обучении новых сотрудников.
                li Участие в принятии ключевых решений по продукту.
              button.button Откликнуться
          +link-text( "Смотреть все вакансии", "vacancies.html", "button vacancies__button" )

        section.media
          h2.media__header СМИ о нас
          .media__slider
            .swiper-container
              .swiper-wrapper
                .swiper-slide.swiper-slide--komm
                  p Специалисты нашей компании имеют многолетний успешный опыт работы в российских и зарубежных банках, а также в других компаниях в сфере финансовых технологий.
                    a(href="#"): +svg( "link-media", 17, 17 )
                  img( src="img/kommersant@2x.png" width="167" height="24")
                .swiper-slide.swiper-slide--forbes
                  p Специалисты Финолаб.ру проводят анализ бизнес-процессов заказчика, разрабатывают оптимальное решение, исходя из потребностей и возможностей заказчика.
                    a(href="#"): +svg( "link-media", 17, 17 )
                  +svg( "forbes", 79, 20 )
                .swiper-slide.swiper-slide--gra
                  p Проектирование, разработка, внедрение, тестирование. Финолаб предлагает полный цикл разработки и изменений в информационной системе с целью решения бизнес-задач заказчика.
                    a(href="#"): +svg( "link-media", 17, 17 )
                  img( src="img/rbk@2x.png" width="73" height="20")
            .swiper-button-prev.media__slider-arrow.media__slider-arrow--prev
            .swiper-button-next.media__slider-arrow.media__slider-arrow--next
        section.location
          div( id="map" style="width: 100%; height: 648px" )

          .location__form( id="form" )
            form
              h2 Написать нам
              p Отправьте нам сообщение и специалисты нашей компании ответят на все интересующие вопросы
              .location__input-wrapper
                input( name="name" type="text" class="location__input location__input--name" placeholder="Имя" )
              .location__input-wrapper
                input( name="tel" type="tel" class="location__input location__input--tel" placeholder="Телефон" )
              .location__input-wrapper
                textarea( name="message" type="text" rows="3" class="location__input location__input--message" placeholder="Сообщение" )
              button( class="location__button button" type="submit" ) Отправить


    footer.footer
      .footer__contacts
        a( href="tel:+74953874235" ) +7 495 387-42-35
        p © Финолаб.ру, 2020
      .footer__dev
        p Дизайн и разработка: Genue


    .popup
      .popup-container
        .popup__close
        .projects__slider.projects__slider--popup
          .swiper-container
          .swiper-button-prev.projects__slider-arrow.projects__slider-arrow--prev
          .swiper-button-next.projects__slider-arrow.projects__slider-arrow--next
        .swiper-pagination


    block scripts
      script( src="js/script.min.js" )
