include pug/mixins

block variables
- let mainTitle = "Вакансии";

doctype html
html( lang="ru" )
  head
    meta( charset="UTF-8" )
    title #{mainTitle} !{title && "| " + title}
    meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    link( rel="preload" href="fonts/ApercuProBold.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="preload" href="fonts/ApercuProRegular.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="stylesheet" href="css/style.min.css" )

  body
    header.header
      a.header__logo(href="index.html" ): +svg( "logo", 144, 24 )
      +link-text( "Вакансии", "vacancies.html", "header__link" )
      a.header__link.header__link--phone(href="index.html#form") Связаться с нами
        +svg( "phone1", 24, 27 )

    main
      .container
        h1.visually-hidden #{mainTitle}
        section.vacancies.vacancies--separate
          h2 Вакансии
          div.vacancies__accordion( id="accordion")
            h3 Frontend-разработчик (senior)
              span.vacancies__ Москва · от 180 000 руб
            div
              p Специалисты нашей компании имеют многолетний успешный опыт работы в российских и зарубежных банках, а также в других компаниях в сфере финансовых технологий. Наши разработки, решения и технологии успешно применяются компаниями лидерами FinTech рынка не только в России, но и за рубежом.
              p  Стань лучшим в своем деле! Присоединяйся к команде Финолаб.ру

              h4 Требования
              ul
                li Опыт работы во frontend-разработке от 4 лет;
                li Уверенные знания JavaScript, в том числе новых стандартов ES 2015-2018;
                li Опыт работы с современными фреймворками: React, Angular, Vue и т.п.;
                li Знание HTML5, CSS3, понимание принципов адаптивной верстки и проблем разных браузеров;
                li Верстка с использованием PostCSS, WebPack, BEM и пр.;
                li Знание ООП, паттернов проектирования;
                li Опыт работы с REST API;
                li Умение работать с GIT.

              h4 Обязанности
              ul
                li Программирование и проектирование веб-приложений (только фронтенд).
                li Оптимизация веб-приложений.
                li Участие в командном код-ревью.
                li Багфикс.
                li Работа с командой, участие в формировании команды.
                li Наставничество и помощь в обучении новых сотрудников.
                li Участие в принятии ключевых решений по продукту.
              button.button Откликнуться


            h3 Системный/бизнес аналитик
              span Москва · от 180 000 руб
            div
              p Специалисты нашей компании имеют многолетний успешный опыт работы в российских и зарубежных банках, а также в других компаниях в сфере финансовых технологий. Наши разработки, решения и технологии успешно применяются компаниями лидерами FinTech рынка не только в России, но и за рубежом.
              p  Стань лучшим в своем деле! Присоединяйся к команде Финолаб.ру

              h4 Требования
              ul
                li Опыт работы во frontend-разработке от 4 лет;
                li Уверенные знания JavaScript, в том числе новых стандартов ES 2015-2018;
                li Опыт работы с современными фреймворками: React, Angular, Vue и т.п.;
                li Знание HTML5, CSS3, понимание принципов адаптивной верстки и проблем разных браузеров;
                li Верстка с использованием PostCSS, WebPack, BEM и пр.;
                li Знание ООП, паттернов проектирования;
                li Опыт работы с REST API;
                li Умение работать с GIT.

              h4 Обязанности
              ul
                li Программирование и проектирование веб-приложений (только фронтенд).
                li Оптимизация веб-приложений.
                li Участие в командном код-ревью.
                li Багфикс.
                li Работа с командой, участие в формировании команды.
                li Наставничество и помощь в обучении новых сотрудников.
                li Участие в принятии ключевых решений по продукту.
              button.button Откликнуться

            h3 Специалист по тестированию ПО
              span Москва · от 180 000 руб
            div
              p Специалисты нашей компании имеют многолетний успешный опыт работы в российских и зарубежных банках, а также в других компаниях в сфере финансовых технологий. Наши разработки, решения и технологии успешно применяются компаниями лидерами FinTech рынка не только в России, но и за рубежом.
              p  Стань лучшим в своем деле! Присоединяйся к команде Финолаб.ру

              h4 Требования
              ul
                li Опыт работы во frontend-разработке от 4 лет;
                li Уверенные знания JavaScript, в том числе новых стандартов ES 2015-2018;
                li Опыт работы с современными фреймворками: React, Angular, Vue и т.п.;
                li Знание HTML5, CSS3, понимание принципов адаптивной верстки и проблем разных браузеров;
                li Верстка с использованием PostCSS, WebPack, BEM и пр.;
                li Знание ООП, паттернов проектирования;
                li Опыт работы с REST API;
                li Умение работать с GIT.

              h4 Обязанности
              ul
                li Программирование и проектирование веб-приложений (только фронтенд).
                li Оптимизация веб-приложений.
                li Участие в командном код-ревью.
                li Багфикс.
                li Работа с командой, участие в формировании команды.
                li Наставничество и помощь в обучении новых сотрудников.
                li Участие в принятии ключевых решений по продукту.
              button.button Откликнуться

    footer.footer
      .footer__contacts
        a(  href="tel:+74953874235" ) +7 495 387-42-35
        p © Финолаб.ру, 2020
      .footer__dev
        p Дизайн и разработка: <a href="https://genue.ru">Genue</a>

  block scripts
    script( src="js/script.min.js" )