@font-face {
  font-family: "ApercuPro-Bold";

  src: url("../fonts/ApercuProBold.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/ApercuProBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ApercuPro-Regular";

  src: url("../fonts/ApercuProRegular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/ApercuProRegular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
