html {
  text-rendering: optimizeLegibility;
  text-size-adjust: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: size-desktop($font-base);
}

body {
  min-width: $width-min;
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include text-main;
  font-family: "ApercuPro-Regular", "Arial", sans-serif;
  // font-family: inherit;
  font-weight: 400;
  // letter-spacing: -1px;
  color: $color-black;
  background-color: $color-white;

  overflow-x: hidden;

  box-sizing: border-box;

  &::after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 10000;
    top: 0;
    left: 0;
    transition: background-color 0.5s;
    pointer-events: none;
    transition: background-color 0.2s ease-in-out;
  }

  &.show {
    &::after {
      background-color: rgba(21, 26, 52, 0.8);
    }
  }
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;

  transition: opacity 0.4s;

  &:hover {
    opacity: 0.6;
  }

  &:not([href]) {
    cursor: default;
    pointer-events: none;
  }
}

h2,
h3,
h4 {
  font-weight: 800;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
}

.space-around {
  justify-content: space-around;
}
